<div>
  <title mat-dialog-title>{{title}}</title>
  <div mat-dialog-content>
    {{message}}
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{noMessage}}</button>
    <button mat-button [mat-dialog-close]="true">{{yesMessage}}</button>
  </div>
</div>
