<div *ngIf="isReady">
  <div>
    <button (click)="onDelete()">Ջնջել</button>
    <button (click)="onEdit()">Փոփոխել</button>
    <button (click)="onClose()">Փակել</button>
  </div>
  <div>
    <div>
      <div>Խորագիր</div>
      <div>{{event.title}}</div>
    </div>
    <div>
      <div>Ամսաթիվ</div>
      <div>{{event.date | date : "dd MMM yyyy"}}</div>
    </div>
  </div>
  <div>
    <div>Նախաբան</div>
    <div>{{event.description}}</div>
  </div>
  <div>
    <div>Կոնտենտ</div>
    <div>{{event.content}}</div>
  </div>
</div>
