<form *ngIf="isReady">
  <div>
    <div>
        <mat-form-field appearance="fill">
          <mat-label>Խորագիր</mat-label>
          <input matInput placeholder=""
                 [formControl]="eventControls.get('title')"
                 [(ngModel)]="event.title">
<!--          <mat-hint>Errors appear instantly!</mat-hint>-->
          <mat-error *ngIf="eventControls.get('title').hasError('required')">
            Խորագիրը <strong>պարտադիր է</strong>
          </mat-error>
        </mat-form-field>
    </div>
  </div>
  <div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Նախաբան</mat-label>
        <textarea matInput placeholder=""
               [formControl]="eventControls.get('description')"
                  [(ngModel)]="event.description">
        </textarea>
        <mat-error *ngIf="eventControls.get('description').hasError('required')">
          Նախաբանը <strong>պարտադիր է</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Կոնտենտ</mat-label>
        <textarea matInput placeholder=""
                  [formControl]="eventControls.get('content')"
                  [(ngModel)]="event.content">
        </textarea>
        <mat-error *ngIf="eventControls.get('content').hasError('required')">
          Կոնտենտը <strong>պարտադիր է</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <label for="file">Վերբեռնել նկարներ</label>
      <input type="file" id="file" (change)="onLoadFile($event.target.files)">
    </div>
  </div>
  <div>
    <div>
      <button mat-button (click)="onSave()">Պահպանել</button>
      <button mat-button (click)="onClose()">Փակել</button>
    </div>
  </div>
</form>

