<section>
  <header>
    <mat-toolbar>
      <div>
        <button mat-icon-button>
          <svg class="mat-icon">
            <use xlink:href="assets/icons/core.svg#trash-o"></use>
          </svg>
        </button>
      </div>

      <div>
        <button mat-icon-button>
          <svg class="mat-icon">
            <use xlink:href="assets/icons/core.svg#trash-o"></use>
          </svg>
        </button>

        <button mat-icon-button>
          <svg class="mat-icon">
            <use xlink:href="assets/icons/core.svg#trash-o"></use>
          </svg>
        </button>

        <button mat-icon-button>
          <svg class="mat-icon">
            <use xlink:href="assets/icons/core.svg#trash-o"></use>
          </svg>
        </button>

        <button mat-button (click)="logout()">Դուրս գալ</button>
      </div>

      <div>
        <button mat-button (click)="login()">Մուտք գործել</button>
      </div>
    </mat-toolbar>

    <div>
      <button mat-button [routerLink]="'/home'" routerLinkActive="active-link">ԳԼԽԱՎՈՐ ԷՋ</button>
      <button mat-button>ՏՆԱՅԻՆ ԱՇԽԱՏԱՆՔՆԵՐ</button>
      <button mat-button>ԳՆԱՀԱՏԱԿԱՆՆԵՐ և ՄԱՏՅԱՆ</button>
      <button mat-button>ԴԱՍԱՑՈՒՑԱԿ</button>
      <button mat-button>ԲՈՂՈՔ և ԱՌԱՋԱՐԿ</button>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div>
      <svg class="mat-icon">
        <use xlink:href="assets/icons/core.svg#trash-o"></use>
      </svg>
    </div>

    <div>
      <button mat-button>ԳԼԽԱՎՈՐ ԷՋ</button>
      <button mat-button>ՏՆԱՅԻՆ ԱՇԽԱՏԱՆՔՆԵՐ</button>
      <button mat-button>ԳՆԱՀԱՏԱԿԱՆՆԵՐ և ՄԱՏՅԱՆ</button>
      <button mat-button>ԴԱՍԱՑՈՒՑԱԿ</button>
      <button mat-button>ԲՈՂՈՔ և ԱՌԱՋԱՐԿ</button>
    </div>

    <address>
    <span>
      <svg class="mat-icon">
          <use xlink:href="assets/icons/core.svg#trash-o"></use>
        </svg>
      Երևան
    </span>
      <span>
      <svg class="mat-icon">
          <use xlink:href="assets/icons/core.svg#trash-o"></use>
        </svg>
      +374 55 881 772
    </span>
      <span>
      <svg class="mat-icon">
          <use xlink:href="assets/icons/core.svg#trash-o"></use>
        </svg>
      mail@mail.mm
    </span>
    </address>

    <div>
      <button mat-icon-button>
        <svg class="mat-icon">
          <use xlink:href="assets/icons/core.svg#trash-o"></use>
        </svg>
      </button>

      <button mat-icon-button>
        <svg class="mat-icon">
          <use xlink:href="assets/icons/core.svg#trash-o"></use>
        </svg>
      </button>

      <button mat-icon-button>
        <svg class="mat-icon">
          <use xlink:href="assets/icons/core.svg#trash-o"></use>
        </svg>
      </button>
    </div>

    <span>2019 StudentX.</span>
  </footer>
</section>
<mat-icon></mat-icon>
