<div *ngIf="isReady">
  <button mat-button (click)="onAdd()">Ավելացնել</button>
  <mat-card *ngFor="let event of events" class="example-card">
    <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{event.title}}</mat-card-title>
          <mat-card-subtitle>
            {{event.date | date : "dd MMM yyyy"}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{event.description}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a (click)="onReadMore(event)">Կարդալ ավելին</a>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
    <mat-card>
      <img *ngFor="let attachment of event.attachments" mat-card-image [src]="attachment">
    </mat-card>
  </mat-card>
</div>
